.container {
  list-style: none;
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-medium);
  outline: 2px solid var(--color);
  color: var(--color-text);
  border-radius: var(--border-radius-3);
  padding: var(--gap-1);
  white-space: nowrap;
  opacity: 0.8;
  background: color-mix(in srgb, var(--color), var(--color-layout) 80%);
}

.button {
  cursor: pointer;
}

.selected {
  background: var(--color);
  opacity: 1;
}
