.container {
  display: flex;
  gap: var(--gap-6);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
}

.result {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
}

.result_value {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

@media (--viewport-mobile) {
  .container {
    flex-direction: column;
  }
}
