---
import { Typography } from '../../components/Typography';
import { PageUrl } from '../../constants/urls';
import PageLayout from '../../layouts/PageLayout.astro';
const title = 'Радиоэлектроника';
---

<PageLayout title={title}>
  <Typography>
    <h2>{title}</h2>
    <p>Полезная информация для тех кто занимается радиоэлектроникой.</p>
    <ul>
      <li>
        <a href={PageUrl.ResistorForLed}>Расчет резистора для светодиода</a>
      </li>
    </ul>
  </Typography>
</PageLayout>
