.main {
  padding: var(--gap-3) 15%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
}

.postInfo {
  display: flex;
  align-items: center;
  gap: var(--gap-3);
}

.title {
  font-size: var(--font-size-5);
}
