* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue-1: #edf2f7;
  --color-blue-2: #0476d9;
  --color-blue-3: #91b7d9;
  --color-gray-1: #f1eeee;
  --color-gray-2: #e0dfdf;
  --color-gray-3: #d3d3d3;
  --color-gray-4: #969696;
  --color-gray-5: #4a5568;
  --color-link: var(--color-blue-2);
  --color-link-visited: var(--color-blue-2);
  --color-link-hover: var(--color-blue-2);
  --color-link-active: var(--color-blue-2);
  --gap-1: 0.5rem;
  --gap-2: 1rem;
  --gap-3: 1.5rem;
  --gap-4: 2rem;
  --gap-5: 2.5rem;
  --gap-6: 3rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --border-radius-4: 1.6rem;
  --border-radius-5: 2rem;
  --border-radius-6: 2.4rem;
  --font-size-0: 0.8rem;
  --font-size-1: 0.9rem;
  --font-size-2: 1rem;
  --font-size-3: 1.2rem;
  --font-size-4: 1.4rem;
  --font-size-5: 1.6rem;
  --font-size-6: 1.8rem;
  --font-size-7: 2rem;
  --font-size-8: 2.2rem;
  --font-size-9: 2.4rem;
  --font-size-10: 2.6rem;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

a:link {
  color: var(--color-black);
}

a:visited {
  color: var(--color-black);
}

a:hover {
  color: var(--color-black);
}

a:active {
  color: var(--color-black);
}
