:root {
  --gap-1: 0.5rem;
  --gap-2: 1rem;
  --gap-3: 1.5rem;
  --gap-4: 2rem;
  --gap-5: 2.5rem;
  --gap-6: 3rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --border-radius-4: 1.6rem;
  --border-radius-5: 2rem;
  --border-radius-6: 2.4rem;
  --font-size-0: 0.8rem;
  --font-size-1: 0.9rem;
  --font-size-2: 1rem;
  --font-size-3: 1.2rem;
  --font-size-4: 1.4rem;
  --font-size-5: 1.6rem;
  --font-size-6: 1.8rem;
  --font-size-7: 2rem;
  --font-size-8: 2.2rem;
  --font-size-9: 2.4rem;
  --font-size-10: 2.6rem;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: oklch(0% 0 0);
    --color-layout: oklch(100% 0 0);
    --color-blue-1: oklch(95.88% 0.009 247.92);
    --color-blue-2: oklch(56.69% 0.175 253.25);
    --color-blue-3: oklch(76.37% 0.064 245.77);
    --color-gray-1: oklch(95.14% 0.003 17.21);
    --color-gray-2: oklch(90.44% 0.001 17.18);
    --color-gray-3: oklch(86.69% 0 0);
    --color-gray-4: oklch(67.31% 0 0);
    --color-gray-5: oklch(44.74% 0.034 261.32);
    --color-link: var(--color-blue-2);
    --color-link-visited: var(--color-blue-2);
    --color-link-hover: var(--color-blue-2);
    --color-link-active: var(--color-blue-2);
    --color-github: oklch(0% 0 0);
    --color-twitter: oklch(68.18% 0.158 243.35);
    --color-linkedin: oklch(53.13% 0.13 243.65);
    --color-logo-bg: oklch(100% 0 0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: oklch(80% 0 0);
    --color-layout: oklch(0% 0 0);
    --color-blue-1: oklch(25.88% 0.009 247.92);
    --color-blue-2: oklch(56.69% 0.175 253.25);
    --color-blue-3: oklch(76.37% 0.064 245.77);
    --color-gray-1: oklch(20.14% 0.003 17.21);
    --color-gray-2: oklch(40.44% 0.001 17.18);
    --color-gray-3: oklch(30.69% 0 0);
    --color-gray-4: oklch(67.31% 0 0);
    --color-gray-5: oklch(64.74% 0.034 261.32);
    --color-link: var(--color-blue-2);
    --color-link-visited: var(--color-blue-2);
    --color-link-hover: var(--color-blue-2);
    --color-link-active: var(--color-blue-2);
    --color-github: oklch(100% 0 0);
    --color-twitter: oklch(68.18% 0.158 243.35);
    --color-linkedin: oklch(53.13% 0.13 243.65);
    --color-logo-bg: oklch(40% 0 0);
  }
}

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--color-layout);
  color: var(--color-text);
}

a:link {
  color: var(--color-text);
}

a:visited {
  color: var(--color-text);
}

a:hover {
  color: var(--color-text);
}

a:active {
  color: var(--color-text);
}
