---
import type { Post, PostMarkdown } from '@/types/post';

import { FilterByTag } from '@/components/FilterByTag';
import { PostList } from '@/components/PostList';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/constants/site';

import RootLayout from '../layouts/RootLayout.astro';

const getTags = (posts: Post[]): string[] => {
  const tags = posts.map((post) => post.frontmatter.tags).flat();
  return Array.from(new Set(tags)).sort();
};

const posts = await Astro.glob<PostMarkdown>('/src/pages/blog/*.md');
const tags = getTags(posts);
---

<RootLayout description={SITE_DESCRIPTION} title={SITE_TITLE}>
  <div class="container">
    <aside class="sidebar">
      <FilterByTag client:load tags={tags} />
    </aside>
    <main class="main">
      <PostList client:load posts={posts} />
    </main>
  </div>
</RootLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
    margin: var(--gap-3) var(--gap-2);
  }

  .main {
    flex: 1;
  }

  @media (--viewport-desktop) {
    .container {
      flex-direction: row;
      margin: var(--gap-3);
    }

    .sidebar {
      width: 25vw;
    }
  }
</style>
