.container {
  display: grid;
  column-gap: var(--gap-2);
  grid-template-columns: max-content max-content;
  margin-right: auto;
  text-decoration: none;
}

.logo {
  grid-row: auto / span 2;
}

.name {
  font-size: var(--font-size-4);
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.description {
  font-size: var(--font-size-0);
  white-space: nowrap;
  display: flex;
  align-items: center;
}
