@keyframes logo-go-in {
  0% {
    transform: translate(100%, 0%) rotate(-2deg);
  }
  10% {
    transform: translate(90%, 5%) rotate(2deg);
  }
  20% {
    transform: translate(80%, 0%) rotate(-2deg);
  }
  30% {
    transform: translate(70%, 7%) rotate(2deg);
  }
  40% {
    transform: translate(60%, 0%) rotate(-2deg);
  }
  50% {
    transform: translate(50%, 5%) rotate(2deg);
  }
  60% {
    transform: translate(40%, 0%) rotate(-2deg);
  }
  70% {
    transform: translate(30%, 7%) rotate(2deg);
  }
  80% {
    transform: translate(20%, 0%) rotate(-2deg);
  }
  90% {
    transform: translate(10%, 5%) rotate(2deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@keyframes logo-go-out {
  0% {
    transform: translate(0%, 0%) rotate(-2deg);
  }
  10% {
    transform: translate(-10%, 5%) rotate(2deg);
  }
  20% {
    transform: translate(-20%, 0%) rotate(-2deg);
  }
  30% {
    transform: translate(-30%, 7%) rotate(2deg);
  }
  40% {
    transform: translate(-40%, 0%) rotate(-2deg);
  }
  50% {
    transform: translate(-50%, 5%) rotate(2deg);
  }
  60% {
    transform: translate(-60%, 0%) rotate(-2deg);
  }
  70% {
    transform: translate(-70%, 7%) rotate(2deg);
  }
  80% {
    transform: translate(-80%, 0%) rotate(-2deg);
  }
  90% {
    transform: translate(-90%, 5%) rotate(2deg);
  }
  100% {
    transform: translate(-100%, 0%) rotate(0deg);
  }
}

.container {
  display: grid;
  grid-template-columns: max-content max-content;
  margin-right: auto;
  text-decoration: none;
}

.logo,
.logo svg {
  --size: 50px;
  height: var(--size);
  width: var(--size);
}

.logo {
  border-radius: 50%;
  overflow: hidden;
  grid-row: auto / span 2;
  margin-right: var(--gap-2);
  background: #fff;
  z-index: 1; /* bug safari overflow animation */
}

.logo svg {
  animation: logo-go-in 2s linear;
  filter: saturate(150%);
  transform-origin: bottom center;
  transform: scale(1);
}

.logo:hover svg {
  animation: logo-go-out 2s linear forwards;
}

.name {
  font-size: var(--font-size-4);
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.description {
  font-size: var(--font-size-0);
  white-space: nowrap;
  display: flex;
  align-items: center;
}
