.container {
  display: flex;
  gap: var(--gap-2);
}

.icon {
  display: inline-block;
  font-size: 1.5rem;
}

.github {
  color: var(--color-github) !important;
}

.linkedin {
  color: var(--color-linkedin) !important;
}

@media (--viewport-mobile) {
  .container {
    justify-content: center;
  }
}
