.container {
  --icon-size: 24px;

  display: flex;
  justify-content: flex-end;
  gap: var(--gap-2);

  & svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.github {
  color: #000 !important;
}

.twitter {
  color: #1da1f2 !important;
}

.linkedin {
  color: #0072b1 !important;
}
