.container {
  font-size: var(--font-size-1);
  color: var(--color-gray-5);
  white-space: nowrap;
  display: flex;
  gap: var(--gap-1);
  align-items: center;
}

.icon {
  display: inline-block;
  font-size: 1rem;
}
