.codeBlock code,
.codeInline {
  font-size: var(--font-size-1);
  font-weight: 400;
  line-height: 1.5;
}

.codeInline {
  background: var(--color-gray-1);
  padding: 0 0.3rem;
  border: 1px solid var(--color-gray-2);
  border-radius: var(--border-radius-1);
  overflow-wrap: break-word;
}

.codeBlock {
  background: var(--color-gray-1);
  padding: var(--gap-5) var(--gap-2) var(--gap-2) var(--gap-2);
  border-radius: var(--border-radius-2);
  position: relative;
  border: 1px solid var(--color-gray-2);
}

.codeBlock code {
  display: block;
  overflow-x: auto;
}

.lang,
.copy {
  position: absolute;
  padding: 0 var(--gap-1);
  height: var(--gap-3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang {
  top: 0;
  left: var(--gap-2);
  background: var(--color-blue-2);
  border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);
  color: var(--color-layout);
  text-transform: uppercase;
}

.copy {
  top: var(--gap-1);
  right: var(--gap-1);
  text-transform: uppercase;
  background: var(--color-layout);
  border: 1px solid var(--color-gray-2);
  border-radius: var(--border-radius-1);
  color: var(--color-gray-5);
  cursor: pointer;
}

.copy:hover {
  background: var(--color-gray-3);
}
