.link {
  visibility: hidden;
  position: relative;
  color: var(--color-gray-4) !important;
  text-decoration: none;
  padding: 0.1rem 0.3rem;
  border-radius: var(--border-radius-1);
  transform: scale(1.2);
  margin-left: var(--gap-1);
}

.link:hover {
  background: var(--color-gray-1);
}

.container:hover .link {
  visibility: visible;
}
