.container {
  &[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-2);
    border-radius: var(--border-radius-3);
    padding: var(--gap-2);
    border: 0;
    margin: auto;
    min-width: 80vw;
  }

  &::backdrop {
    background: oklch(0% 0 0 / 60%);
  }
}

.text {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: var(--gap-2);
}

@media (--viewport-desktop) {
  .container[open] {
    min-width: 300px;
  }
}
